html, body {
		height: 100%;
		margin: 0;
		padding: 0;
}
		
#body1 {
		padding:10px;
		padding-bottom:60px;   /* Height of the footer */
}

#footer {
	/*clear: both;
    position: relative;
    z-index: 10;
    height: 4em;
    margin-top: -3em;
    background-color: black;*/
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:black;
}

#text{

    color:white;
    text-align: center;

}