html, body {height:100%;
        margin:0;
        padding:0;}

.border_pocetna{
    border-bottom: 1px solid black; 
    min-height:80px;
    position: fixed;
    /*width: 100%;
    height: 50px;*/
    top: 0;
    z-index: 1;
    width: 101%;

}
h1 {
    text-align: center;
    color:black;
}

.footer-all{

    /*width: 99%;*/

}
/* Odavde krecu podesavanja za button Moj nalog*/
.dropbtn{
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top:20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    
    
    float:right;
}

.dropdown-content {
   /*display: none;*/
   position: absolute;
   background-color: white;
   min-width: 180px;
   box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   left:auto;
   right:0;
   margin-right:-10px;
   
}

.dropdown-content a {
    color: gray;
    cursor: pointer;
    /*color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;*/
}


/*.dropdown:hover .dropdown-content {
    display: block;
}*/

#loading-image-preuzmi {
    background-color: red;
	
    
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/*.dropdown:hover .dropbtn {
    background-color: #8B0000;
}*/
/* Odavde krecu podesavanja za button Moj nalog*/


