div.godina, div.mesec,div.probaM,div.prikazi-sakri-sve,div.Zahtev,div.snimi-sve {
	display:inline-block;
}

.pored-prvi, .pored-drugi{
    display:inline-block;
}

.obavestenje-text, .obavestenje-text-dani{
    display:inline-block;
    display: table-cell;
}

.ui-dialog {
    overflow: visible;
}
.ui-dialog-content {
    overflow: visible;
}

.OrangeButton .ui-button { color:#EF6C00;}

.pocetna-page{

    width: 99%;
    margin-top:30px;
    
}

#button-sum{
    /*padding: 20px;*/
    position: relative;
    bottom: 0;
    right: 0;
}
/*Posto su Button Sacuvaj i input disable u tabeli zbog lepseg izgleda stavio sam da se ne vide ivice tabele*/
.borderless td, .borderless th {
    border: none;
}

.razmak{

    margin-top:100px; 
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

.title td {
    border: solid 1px #f00;
    padding: 5px;
    cursor: pointer;
}
.title:hover td {
    background: #ff0;
}
.description td {
    border: solid 1px #00f;
    padding: 5px;
}

div.tabela-detalji-text, div.tabela-detalji-input, div.tabela-detalji-button{
	display:inline-block;
}

.tabela-detalji-text-sredjeno{

    width:100px;

}

.micko table, th, td {
    border: 1px solid #D3D3D3;
    border-collapse: collapse;
}


.scroll-table {
    height: 800px !important;
    width: 1800px;
    overflow-y:scroll;
}

   
 .rotate1 {
    width: 50px;
    height: 20px;
    background-color: yellow;
    /* Rotate div */
    
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
 }

 .sort-satnica , .up-down{
    display:inline-block;    
 }


table micko {
	margin-bottom: 20px;
}
 tr#groups {
	/*display:block;
	margin-left:120px;
	margin-top:120px;*/
}
 th.rotate {
    white-space: nowrap;
    -webkit-transform-origin: 65px 60px;
    -moz-transform-origin: 65px 60px;
    -o-transform-origin: 65px 60px;
    -ms-transform-origin: 65px 60px;
    transform-origin: 65px 60px;
    
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	
}
span.intact {
	display:inline-block;
	width:30px;
	height:150px;
    margin-right:0px;
    margin-left:-5px;
    margin-bottom:-10px;
}

th.rotate span {
	/* rotated text in IE renders very bad (unless you use clear type), so that even by making it normal, looks less bold but still bold */
    font-weight: normal\9; /* \9 is an hack for IE8 and below */
    letter-spacing: 3px\9; /* because is so bold, need to give letters some space to breath */

    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, SizingMethod = "auto expand");
    width: 150px\9;
    height: 150px\9;
    margin-right: -130px\9;
}

td.menuItems {
	
}
td.no-indent {
	font-weight: bold;
	width: 500px;
}
td.indent {
	padding-left:12px;
}
td.rights {
	width:20px;
    text-align: center;
}
div.wrapper {
  width: 100%;
  overflow-x: auto;
}

.izlaz{
    float:right;
    left: 10px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/*.btn-danger
{
  background-color: #9F418F;
  border-color: #9F418F;
}*/

/*
#loading-image-preuzmi {
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 140px;
	background: url('src/app/images/loading.gif');
	width: 30%;
	height: 30%;
}*/