<div class="footer-all">
  <div class="row">
    <div class="col-sm-12 col-md-12 border_pocetna" style="background-color:white;" >
          <div class="col-sm-2 col-md-2 border_pocetna-slika" style="background-color:white; height: 100%;">
            <!--<img src="/images/TO-NET.jpg"  width="300" height="78" class="as-banner" />-->
          </div>
          <div class="col-sm-8 col-md-8 border_pocetna-prazno" style="background-color:white; height: 100%;">
          </div>
          <div class="col-sm-2 col-md-2 border_pocetna-button" style="background-color:white; height: 100%;">
            <div class="back">
                <button class="btn btn-danger dropbtn" (click)="Nazad()" >Nazad</button>
            </div>
          </div> 
      </div>
  </div>
</div>
