.footer-all{

     
    /*border-bottom: 1px solid black; 
    height:80px;*/

}

.border_pocetna{
    
    border-bottom: 1px solid black; 
    min-height:80px;
    position: fixed;
    /*width: 100%;
    height: 50px;*/
    top: 0;
    z-index: 1;
    width: 101%;

}

.back{

    position: relative;
    display: inline-block;
    float:right;
    margin-top: 20px
    
}