<div class="tabela">
  <div class ="header">
  <app-footer-ostalo></app-footer-ostalo><br><br><br>
  </div>
  <div class="col-sm-12 col-md-12 razmak">
    <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1">  
      <div class="godina">
          <p>Godina:</p>
          <input [(ngModel)]="selectedGodinaTabelaKorisnik" style="width: 100px;" class="form-control" (click)="proveraGodinaTabelaKorisnik();" type="number" min="2017" max="2019" step="1" size="12" autocomplete='on'>
          <!--{{ selectedGodina_tabela_korisnik }}-->
      </div><br>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
      <div class="mesec">    
            <p>Mesec:</p>
          <select [(ngModel)]="selectedMesecTabela" class="form-control" (click)="odabraniMesecTabela();" name="mesec" id="mesec" list="mesec" style="width:150px; ">
              <option *ngFor="let i of deviceObjects" [selected]="i === mesecP" >{{i?.name}}</option>
          </select>				
        </div>
    </div>   
  </div>
  <div class="col-sm-12 col-md-12">
    <div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 col-xl-8 col-xl-offset-1"><br> 
      <table class="table table-bordered">
        <tr class="active">
          <th style="width:370px;">Projekti</th>
          <th *ngFor="let i of NizObjekiNedelje">{{i.Oznaka}}</th>
        </tr>
        <tr *ngFor="let i of projektiObjekiNedelje; let n = index;">
          <th >{{i.Projekti}}</th>
          <th *ngFor="let ned of NizObjekiNedelje" style="color:#A9A9A9">{{i[ned.Oznaka]}}</th>
          <!--<td><button id="1{{ idNiz }}" style="width:75px;" class="btn btn-danger"  (click)="NizVidljivost(niz.Projekti,idNiz)">Prikazi</button></td>-->
        </tr>
        <tr>
          <th>Ukupnoo</th>
          <th *ngFor="let sum of this.sumNedelja">{{sum}}</th>
        </tr>
      </table><br><br><br>  
    </div>
  </div>

  <!--<div class="col-sm-12 col-md-12">

     <div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 col-xl-8 col-xl-offset-1">
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the name column...'
        (keyup)='updateFilter($event)'
      />

     </div>

    <div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 col-xl-8 col-xl-offset-1">
      <ngx-datatable  class="material ngXDatatable"
         [headerHeight]="30"
         [footerHeight]="50"
         [columnMode]="'force'" 
         [rows] = "this.projektiObjekiNedelje"
         >
         <div *ngFor="let z of this.ngXColumnObject;let id = index;" >
          <div *ngIf="z.ime == 'Projekti'" class="projekti-css">  
            <ngx-datatable-column style="color:red" prop="{{z.oznaka}}"  name="{{z.oznaka}}" [width]="390">
              <template let-row="row" let-value="value" ngx-datatable-cell-template>
                <strong>{{ row[z.oznaka] }}</strong>
              </template>
            </ngx-datatable-column>
          </div>
          <div *ngIf="z.ime != 'Projekti'">
            <ngx-datatable-column    prop="{{z.oznaka}}" name="{{z.oznaka}}">
              <template let-row="row" let-value="value" ngx-datatable-cell-template>
                <strong>{{ row[z.oznaka] }}</strong>
              </template>
            </ngx-datatable-column>
          </div>
         </div>
      </ngx-datatable><br><br><br><br><br><br>
    </div>  
  </div>  -->
  <div>
      <p-dialog header="Obavestenje!!" [ngStyle]="{'width': valueSize +'px'}"  [(visible)]="display" modal="modal">
          {{ textError  }}
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="margin-top: 50px;">
                <button type="button"   style="width:75px;" (click)="display=false; Izlaz();" >{{ textErrorIzlaz }}</button>
            </div>
        </p-footer>
      </p-dialog>
    </div>
</div>
<app-header></app-header>   