<div class="admin">
  <div>
  <app-footer-ostalo></app-footer-ostalo><br><br>
  </div>
    <div class="container-fluid ">
      <div class="row">
      </div>
    </div>
  <div class="container-fluid razmak">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="projekat-input" style="vertical-align: top; padding: 0;">
          <h4 class="first">Godina:</h4>
          <input (ngModelChange)="KlikGodinaKorisnik()"  class="form-control"  type="number" min="2017" max="2019" step="1"  [(ngModel)]="this.selectedGodinakorisniciAdmin"/>
        </div> &nbsp; 
        <div class="projekat-button">    
          <h4 class="first">Mesec:</h4>
            <select [(ngModel)]="KorisniciMesecAdmin" class="form-control" (ngModelChange)="MesecAdminF()" name="mesec" id="mesec" list="mesec" style="width:150px; ">
              <option *ngFor="let i of nizMesec"  >{{i.name}}</option>
            </select>				
        </div>&nbsp; 
        <div class="text-dodaj-novi-projekat">    
          <h4 class="first"></h4>
            <button style="width: 80px;" (click)="ExportCsv()" class="btn btn-danger"> CSV </button>		
        </div>&nbsp; 
        <div class="excel-button">    
          <h4 class="first"></h4>
            <button style="width: 80px;" (click)="ExcelExoprt()" class="btn btn-danger"> Excel </button>		
        </div>&nbsp; <br>
      </div>  
      <div class="col-sm-7 col-md-7 col-lg-7">
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
     <div *ngIf="flgLoadingAdmin == true" class="wrapper">
        <table class="micko">
            <tr id="groups" >
              <th class="rotate">&nbsp;</th>
              <th class="rotate" *ngFor="let korisnici of this.nizObjKorisnik;" ><span class="intact">{{korisnici.ime}}</span></th>
              <th class="rotate"  ><span class="intact">Ukupno</span></th>
            </tr>
           
            <tr *ngFor="let obj of this.PakovanjeProjekata; let i = index;">
                <th style="display:inline-block;width: 350px;">{{obj.Projekat}}</th>
                <th *ngFor="let korisnici of this.nizObjKorisnik;let zzz = index;" style="font-weight: lighter;font-style: normal;">
                  <div *ngIf="korisnici.boja == 1" >
                    <div style="background-color: #ffffb3">
                      {{obj[korisnici.oznaka]}}
                    </div>
                  </div>
                  <div *ngIf="korisnici.boja == 0" >
                    <div style="background-color:white ">
                      {{obj[korisnici.oznaka] }}
                    </div>
                  </div>  
                  
                </th>
                <th style="background-color: yellow">{{SumaPoProjektu[i]}}</th>
            </tr>
           
            <tr>
              <th>Ukupno</th>
              <th style="background-color: yellow" *ngFor="let sumHor of this.SumaPoKorisniku;" >{{sumHor}}</th>
              <th style="background-color: yellow" > {{ sumSvih }} </th>
            </tr>  
        </table>
     </div>
     <div *ngIf="flgLoadingAdmin == false">
      <div class="col-sm-5 col-sm-offset-0 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0 col-xl-5 col-xl-offset-0" style="background-color:white;">
        <button style="background-color:white" class="btn btn-lg"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
      </div>
     </div>
  </div>
  <br>
  <hr>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="projekat-input" style="vertical-align: top; padding: 0;">
          <h4 class="first">Godina:</h4>
          <input (click)="KlikGodinaProjekti(projektiDropDown,selectedProjektiAktivni)" class="form-control"  type="number" min="2017" max="2019" step="1" autocomplete='on' style="width:100px;" [(ngModel)]="selectedGodinaProjektiAdmin">
        </div>&nbsp;
        <div class="text-dodaj-novi-projekat">    
          <h4 class="first">Mesec:</h4>
            <select [(ngModel)]="ProjektiMesecAdmin" class="form-control" (ngModelChange)="MesecAdminProjekti(projektiDropDown,selectedProjektiAktivni)" name="mesec" id="mesec" list="mesec" style="width:150px; ">
              <option *ngFor="let i of nizMesec">{{i.name}}</option>
            </select>				
        </div>&nbsp;
        <div class="projekat-button">
          <h4 class="first">Projekat:</h4>
          <p-dropdown  [options]="projektiDropDown" [(ngModel)]="selectedProjektiAktivni" [style]="{'width':'250px', 'height':'34px'}" (ngModelChange)="KlikProjektiAdmin(this.selectedGodinaProjektiAdmin,this.ProjektiMesecAdmin,selectedProjektiAktivni,projektiDropDown)" filter="filter"></p-dropdown>
        </div>&nbsp;
        <div class="exoprt">    
          <h4 class="first"></h4>
            <button style="width: 80px;" (click)="ExportCsvProjekat()" class="btn btn-danger"> CSV </button>		
        </div>&nbsp; 
        <div class="excel-button">    
          <h4 class="first"></h4>
            <button style="width: 80px;" (click)="ExcelExoprtProjekat()" class="btn btn-danger"> Excel </button>		
        </div>&nbsp;<br>
      </div> 
    </div>  
  </div>
  <br>
  <div class="container-fluid "> 
      <div *ngIf="flgLoadingAdminTabela2" class="wrapper">
        <table class="micko">
            <tr id="groups" >
              <th class="rotate">&nbsp;</th>
              <th class="rotate" *ngFor="let korisnici of this.detaljiNizObjKorisnik;" ><span class="intact">{{korisnici.ime}}</span></th>
              <th class="rotate"  ><span class="intact">Ukupno</span></th>
            </tr>
           
            <tr *ngFor="let obj of this.pakovanjeDetalji; let i = index;"> 
              <th style="display:inline-block;width: 350px;">{{obj.Projekat}}</th>
              <th *ngFor="let korisnici of this.detaljiNizObjKorisnik;" style="font-weight: lighter;font-style: normal;">
                <div *ngIf="korisnici.boja == 1" >
                  <div style="background-color: #ffffb3">
                    {{obj[korisnici.oznaka]}}
                  </div>
                </div>
                <div *ngIf="korisnici.boja == 0" >
                  <div style="background-color:white ">
                    {{obj[korisnici.oznaka]}}
                  </div>
                </div>  
              </th>
              <th style="background-color: yellow">{{SumaPoNedeljamaDetalji[i]}}</th>
            </tr>
            <tr>
              <th>Ukupno</th>
              <th style="background-color: yellow" *ngFor="let sum of this.SumaPoKorisnikuProjekat;">{{sum}}</th>
              <th style="background-color: yellow" > {{ sumSvihProjekti }} </th>
            </tr>  
        </table>
     </div>
     <div *ngIf="flgLoadingAdminTabela2 == false">
      <div class="col-sm-5 col-sm-offset-0 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0 col-xl-5 col-xl-offset-0" style="background-color:white;">
        <button style="background-color:white" class="btn btn-lg"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
      </div>
     </div>
  </div>
  <br>
  <hr>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <p id="Naslovi">Dodavanje novog projekta</p> 
      </div>
    </div> 
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
      <div class="text-dodaj-novi-projekat" style="vertical-align: top; padding: 0;">
          <p id="projekat-dodavanje-novog">Projekat:</p>
      </div>
      <div class="projekat-input">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="filter" formControlName="name" style="width: 200px;">
        </div>
      </div>
       &nbsp; &nbsp;
       <div class="projekat-button" style="vertical-align: top; padding: 0;">
         <button type="submit" class="btn btn-danger">Izvrši</button>
      </div>   
     </form>
     <div>
       <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
          Potrebno je minimum 5 karaktera
      </small>
     </div>
  </div>    
  <br>    
  <hr>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p id="Naslovi">Dodavanje korisnika na projekat</p>
      </div>
      <div *ngIf="Citanje == 'sacuvano'" class="col-sm-12 col-md-12 col-lg-12">
        <div class="korisnik-dodavanje" style="vertical-align: top; padding: 0;">
          <p>Korisnik:</p>
          <!--<p-dropdown [(ngModel)]="selectedDodavanjeKorisnikaNaProjekatKorisnik" (ngModelChange)="ProverDropDown()" [options]="imePrezimeAktivni" [style]="{'width':'200px','height': '40px'}"  filter="filter"></p-dropdown>
          -->
          <input [(ngModel)]="selectedDodavanjeKorisnikaNaProjekatKorisnik.Ime_Prezime" (click)="DropDodavanjeKorisnika()" id ="input-slika" name="lokacija" style="width: 300px;" class="rasiri sencenje-belo lokacija" readonly/>
          <div *ngIf="flgAdd == true" style="position:absolute;z-index: 1; background-color:  white; max-height: 190px;border: 1px solid #DCDCDC;width: 300px;">
            <div style="background-color: white;padding-left: 8px;padding-top:5px;">
              <input style="width: 250px;" (click)="InputFunkcijaDodavanjeProjekata()" (keyup)="PretragaDodavanjeProjekta()" [(ngModel)]="this.pretragaDodaj" type="text"/>
            </div>
            <div style="background-color: white;margin-left: 8px;padding-top:5px;cursor:pointer;max-height: 155px;overflow: auto;padding-bottom: 10px;">
              <div *ngFor="let z of this.korisniciAktivni;let i = index;" (click)="vrednostDropDodavanjeKorisnika(z)" class="vrednost-div" >
                <div *ngIf="this.nizNgForDodajProjekat[i] == 0">{{ z.Ime_Prezime }}<br /></div>
              </div>
            </div>
          </div>
        </div>
        &nbsp; &nbsp;
        <div class="projekat-dodavanje" style="vertical-align: top; padding: 0;">
          <p>Projekat:</p>
          <div style="height: 210px;width:300px; background-color: white;border: 1px solid #dddddd;">
            <div style="padding: 3px;">
              <input type="text" class="form-control" (keyup)="PretragaDodavanjeKorisnika()" [(ngModel)]="pretragaDodavanje" placeholder="Search"/>
            </div>
            <div style="margin: 3px;border: 1px solid #dddddd;max-height: 160px;height: 160px;overflow-y:scroll;cursor:pointer;">
              <div *ngFor="let pr of this.vidljivostProjekta;let i = index;" class="vrednost-div">
                <div *ngIf="pr.trazi == 1">
                  <div *ngIf="pr.vidljivo == true">
                    <div (click)="OdaberiProjekat(pr.Projekti)" >{{ pr.Projekti }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>&nbsp; &nbsp;
        <div class="odabrano" style="vertical-align: top; padding: 0;">
          <p>Odabrani projekati:</p>
          <div style="height: 210px;width:300px; background-color: white;border: 1px solid #dddddd;">
            <div style="padding: 3px;">
                <input type="text" class="form-control" (keyup)="PretragaDodavanjeOdabranoKorisnika()" [(ngModel)]="pretragaDodavanjeOdabrano" placeholder="Search"/>
            </div>
            <div style="margin: 3px;border: 1px solid #dddddd;max-height: 160px;height: 160px;overflow-y:scroll;cursor:pointer;">
              <div *ngFor="let pr of this.projektiOdabrani;let i = index;" class="vrednost-div">
                <div *ngIf="pr.trazi == 1">
                  <div (dblclick)="BrisanjeIzObjekta(pr.Projekti)">
                    <div>
                      {{ pr.Projekti }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>&nbsp; &nbsp;
        <div class="button-dodavanje" style="vertical-align: top; padding: 0;">
          <div>
            <button style="margin-top:30px;" (click)="Dodaj()" [disabled]="izvrsiDisable" class="btn btn-danger">Izvrši</button>
          </div><br>
          <div>
            <p>Dodaj preostale projekte na listu: </p>
            <button (click)="PreostaliProjekti()" [disabled]="flgKorisnik == false" class="btn btn-danger">Dodaj</button>
            <p>Ukloni preostale projekte sa liste: </p>
            <button (click)="UkloniPr()" [disabled]="flgKorisnik == false" class="btn btn-danger">Ukloni</button>
          </div>
        </div>
      </div>
      <div *ngIf="Citanje == 'snimanje'" class="col-sm-12 col-md-12 col-lg-12" style="height:240px;">
        <button style="background-color:white;margin-top: 90px;margin-left: 100px;" class="btn btn-lg">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> U toku je dodavanje projekata...
        </button>
      </div>
      <div *ngIf="Citanje == 'gotovo'" class="col-sm-12 col-md-12 col-lg-12" style="height:240px;">
        <div style="margin-top: 90px;margin-left: 380px;">
          <p>Uspešno ste dodali projekte</p>
          <button class="btn btn-danger" (click)="Gotovo()" style="margin-left: 50px;">
            Gotovo
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>    
  <hr>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p id="Naslovi">Uklanjanje korisnika sa projekta</p>
      </div>
      <div *ngIf="CitanjeUkloni == 'sacuvano'" class="col-sm-12 col-md-12 col-lg-12">
        <div class="korisnik-dodavanje" style="vertical-align: top; padding: 0;">
          <p>Korisnik:</p>
          <!--<p-dropdown [options]="imePrezimeAktivni" (click)="UklanjanjeDropDown()" [(ngModel)]="selectedUklanjanjeKorisnikaSaProjektaKorisnik" [style]="{'width':'200px'}"  filter="filter"></p-dropdown>
          -->
          <input [(ngModel)]="selectedUklanjanjeKorisnikaSaProjektaKorisnik.Ime_Prezime" (click)="DropUklanjanjeKorisnika()" id ="input-slika" name="lokacija" style="width: 300px;" class="rasiri sencenje-belo lokacija" readonly/>
          <div *ngIf="flgRemove == true" style="position:absolute;z-index: 1; background-color:  white; max-height: 190px;border: 1px solid #DCDCDC;width: 300px;">
            <div style="background-color: white;padding-left: 8px;padding-top:5px;">
              <input style="width: 250px;" (click)="InputFunkcijaUklanjanjeProjekata()" (keyup)="PretragaUkloniProjekta()" [(ngModel)]="this.pretragaUkloni" type="text"/>
            </div>
            <div style="background-color: white;margin-left: 8px;padding-top:5px;cursor:pointer;max-height: 155px;overflow: auto;padding-bottom: 10px;">
              <div *ngFor="let z of this.korisniciAktivni;let i = index;" (click)="vrednostDropUklanjanjeKorisnika(z)" class="vrednost-div" >
                <div *ngIf="this.nizNgForUkloniProjekat[i] == 0">{{ z.Ime_Prezime }}<br /></div>
              </div>
            </div>
          </div>
        </div>
        &nbsp; &nbsp;
        <div class="projekat-dodavanje" style="vertical-align: top; padding: 0;">
          <p>Projekat:</p>
          <div style="height: 210px;width:300px; background-color: white;border: 1px solid #dddddd;">
            <div style="padding: 3px;">
              <input type="text" class="form-control" (keyup)="PretragaUkloniKorisnika()" [(ngModel)]="pretragU" placeholder="Search"/>
            </div>
            <div style="margin: 3px;border: 1px solid #dddddd;max-height: 160px;height: 160px;overflow-y:scroll;cursor:pointer;">  
              <div *ngFor="let pr of this.naKojimaRadeHtml;let i = index;" class="vrednost-div">
                <div *ngIf="pr.trazi == 1">
                  <div *ngIf="pr.vidljivo == true">
                    <div (click)="OdaberiZaUkloni(pr.Projekti,pr.id_pr)" >{{ pr.Projekti }}</div>
                  </div>
                </div>
              </div>
            </div> 
          </div> 
          <!--<p-dropdown [style]="{'width':'250px'}" [options]="projektiDropDownUklanjanjeSaProjekta" (click)="ProveraVrednostiProjekataUklanjanje()"  [(ngModel)]="selectedUklanjanjeKorisnikaSaProjektaProjekat" filter="filter"></p-dropdown>
          -->

        </div>
        &nbsp; &nbsp;
        <div class="odabrano" style="vertical-align: top; padding: 0;">
          <p>Odabrani projekati:</p>
          <div style="height: 210px;width:300px; background-color: white;border: 1px solid #dddddd;">
            <div style="padding: 3px;">
                <input type="text" class="form-control" (keyup)="PretragaUklanjanjeOdabranoKorisnika()" [(ngModel)]="pretragaUklanjanjeOdabrano" placeholder="Search"/>
            </div>
            <div style="margin: 3px;border: 1px solid #dddddd;max-height: 160px;height: 160px;overflow-y:scroll;cursor:pointer;">
              <div *ngFor="let pr of this.projektiUkloniOdabrani;let i = index;" class="vrednost-div">
                <div *ngIf="pr.trazi == 1">
                  <div (dblclick)="BrisanjeIzObjektaUkloni(pr.Projekti)">
                    <div>
                      {{ pr.Projekti }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>&nbsp; &nbsp;
        <div class="button-dodavanje" style="vertical-align: top; padding: 0;">
            <button style="margin-top:30px;" (click)="UklanjanjeKorisnikaSaProjekta()" [disabled]="izvrsiUkloni" class="btn btn-danger">Izvrši</button>
        </div>

      </div>
      <div *ngIf="CitanjeUkloni == 'snimanje'" class="col-sm-12 col-md-12 col-lg-12" style="height:240px;">
        <button style="background-color:white;margin-top: 90px;margin-left: 100px;" class="btn btn-lg">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> U toku je uklanjanje projekata...
        </button>
      </div>
      <div *ngIf="CitanjeUkloni == 'gotovo'" class="col-sm-12 col-md-12 col-lg-12" style="height:240px;">
        <div style="margin-top: 90px;margin-left: 380px;">
          <p>Uspešno ste uklonili projekte</p>
          <button class="btn btn-danger" (click)="GotovoUkloni()" style="margin-left: 50px;">
            Gotovo
          </button>
        </div>
      </div>
      <!--
      <div class="col-sm-12 col-md-12 col-lg-12">
        <br>
        <div *ngIf="!proveraUspesnosti">
        <small class="text-danger">
           Potrebno je uneti parametre!!
        </small>
        </div>
      </div>-->
    </div>
  </div>
  <br>    
  <hr>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: -20px;margin-bottom: -20px;">
        <div lass="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
          <p id="naslovi-pola">Postavljanje projekta na listu aktivnih</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="height: 100px;margin-left: -15px;">
          <div class="text-dodaj-novi-projekat">
            <p id="projekat-dodavanje-novog" >Projekat:</p>
          </div>
          <div class="projekat-input" >
            <input [(ngModel)]="readonlyInput.Projekti" (click)="prikaziDrop()" id ="input-slika" name="lokacija" class="rasiri sencenje-belo lokacija" readonly/>
            <div *ngIf="flgDrop == true" style="position:absolute;z-index: 1; background-color:  white; max-height: 190px;border: 2px solid #DCDCDC;width: 250px;">
              <div style="background-color: white;padding-left: 8px;padding-top:5px;"><input (click)="InputFunkcija();" (keyup)="PretragaInput();" [(ngModel)]="this.pretraga" style="width: 200px;" type="text"/>
              </div>
              <div style="background-color: white;margin-left: 8px;padding-top:5px;cursor:pointer;max-height: 155px;overflow: auto;padding-bottom: 10px;">
                <div *ngFor="let z of this.projektiObjekat;let i = index;" (click)="vrednostDrop(z);"  (mouseover)="over(z)" class="vrednost-div" >
                  <div *ngIf="this.nizNgForPrikaz[i] == 0">{{ z.Projekti }}<br /></div>
                </div>
              </div>
            </div>
          </div>
          &nbsp; &nbsp;
          <div class="button-dodavanje">
            <button type="" (click)="AktiviranjeProjekta(readonlyInput)" class="btn btn-danger">Izvrši</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: -20px;margin-bottom: -20px;height: 175px; border-left: 1px solid black;">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
          <p id="naslovi-pola">Postavljanje projekta na listu neaktivnih</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="height: 100px;">
          <div class="text-dodaj-novi-projekat">
            <p id="projekat-dodavanje-novog" >Projekat:</p>
          </div>
          <div class="projekat-input" >
            <input [(ngModel)]="readonlyInputNeaktivni.Projekti" (click)="prikaziDropNeaktivni()" id ="input-slika" name="lokacija" class="rasiri sencenje-belo lokacija" readonly/>
            <div *ngIf="flgDropNeaktivni == true" style="position:absolute;z-index: 1; background-color:  white; max-height: 190px;border: 2px solid #DCDCDC;width: 250px;">
              <div style="background-color: white;padding-left: 8px;padding-top:5px;"><input (click)="InputFunkcijaAktivni();" (keyup)="PretragaInputNeaktivni();" [(ngModel)]="this.pretragaAktivni" style="width: 200px;" type="text"/>
              </div>
              <div style="background-color: white;margin-left: 8px;padding-top:5px;cursor:pointer;max-height: 155px;overflow: auto;padding-bottom: 10px;">
                <div *ngFor="let z of this.projektiObjekatNeaktivni;let i = index;" (click)="vrednostDropNeaktivni(z);"  (mouseover)="over(z)" class="vrednost-div" >
                  <div *ngIf="this.nizNgForPrikazNeaktivni[i] == 0">{{ z.Projekti }}<br /></div>
                </div>
              </div>
            </div>
          </div>
          &nbsp; &nbsp;
          <div class="button-dodavanje">
            <button type="" (click)="DekativiranjeProjekata(readonlyInputNeaktivni)" class="btn btn-danger">Izvrši</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>  
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p id="Naslovi">Deaktivacija korisnika</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-dodaj-novi-projekat">
            <p id="projekat-dodavanje-novog">Korisnik:</p>
        </div>
        <div class="projekat-input">
            <p-dropdown [style]="{'width':'200px'}" (click)="ProveraDeaktivacija()" [options]="imePrezimeAktivni"  [(ngModel)]="selectedDeaktivacija" filter="filter"></p-dropdown>
        </div>
        &nbsp; &nbsp;
        <div class="button-dodavanje">
            <button type="" (click)="Deaktivacija()" class="btn btn-danger">Izvrši</button>
        </div>   
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
          <small *ngIf="!flgDeaktivacija" class="text-danger">
            Potrebno je uneti korisnika!!
          </small>
      </div>     
    </div>
  </div>
   <br>    
  <hr>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p id="Naslovi">Aktivacija korisnika</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-dodaj-novi-projekat">
            <p id="projekat-dodavanje-novog">Korisnik:</p>
        </div>
        <div class="projekat-input">
            <p-dropdown [style]="{'width':'200px'}" (click)="ProveraAktivacija()" [options]="imePrezimeNeAktivni"  [(ngModel)]="selectedAktivacija" filter="filter"></p-dropdown>
        </div>
        &nbsp; &nbsp;
        <div class="button-dodavanje">
            <button type="" (click)="Aktivacija()" class="btn btn-danger">Izvrši</button>
        </div>   
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div *ngIf="!flgAktivacija">
          <small class="text-danger">
            Potrebno je uneti korisnika!!
          </small>
        </div>
      </div>   
    </div>
    <div>
      <p-dialog header="Upozorenje!!" [ngStyle]="{'width': valueSize +'px'}"  [(visible)]="display" modal="modal">
          {{ text  }}
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="margin-top: 50px;">
                <button type="button"   style="width:75px;" (click)="display=false; Izlaz();" >{{ text_izlaz }}</button>
            </div>
        </p-footer>
      </p-dialog>
      <p-dialog header="{{ textObavestenje }}" [ngStyle]="{'width': valueSize +'px'}"  [(visible)]="displayUkloni" modal="modal">
          {{ textUpozorenje  }}
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="margin-top: 50px;">
                <button type="button"   style="width:75px;" (click)="displayUkloni=false; IzlazPotvrda();" >{{ textPotvrda }}</button>
            </div>
        </p-footer>
      </p-dialog>
      <p-dialog header="{{ textObavestenje }}" [ngStyle]="{'width': valueSize +'px'}"  [(visible)]="displayUredu" modal="modal">
          {{ textUpozorenje  }}
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="margin-top: 50px;">
                <button type="button"   style="width:75px;" (click)="displayUredu=false;" >{{ textPotvrda }}</button>
            </div>
        </p-footer>
      </p-dialog>
      <p-dialog header="{{Naslov}}!!" [ngStyle]="{'width': valueSize +'px'}"  [(visible)]="displayError" modal="modal">
          {{ textError  }}
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="margin-top: 50px;">
                <button type="button"   style="width:75px;" (click)="displayError=false;" >{{ textPotvrdaError }}</button>
            </div>
        </p-footer>
      </p-dialog>
    </div>
  </div>
  <br>    
  <hr>
  <app-header></app-header>      
</div>  

<!--
    <div class="projekat-dodavanje">
      <p>Projekat:</p>
      <p-dropdown [options]="projektiDropDownDodajNaProjekat" (click)="ProverDropDownProjekti()" [(ngModel)]="selectedDodavanjeKorisnikaNaProjekatProjekat" [style]="{'width':'250px'}"  filter="filter"></p-dropdown>
    </div>
    &nbsp; &nbsp;-->
    <!--<div class="button-dodavanje">
      <button type="" (click)="Dodaj()" class="btn btn-danger">Izvrši</button>
    </div>  
  </div>
  <br>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br>
    <div *ngIf="!dodajProvera">
    <small class="text-danger">
      Potrebno je uneti parametre!!
    </small>
    </div>
  </div>  
-->