/*html, body {
    width: 100%;
}*/

.Home{

    width: 99%;
    padding:0;
    
}

h1 {
    /*text-align: center;*/
    color:black;
}

p {
    text-align: center;
    color:black;
}

.button-home {
    width: 100px !important;
}

.table-row-1{
    width: 180px !important;
}

.table-row{
    width: 140px !important;
}

div.form-group-prijava, div.form-group-registracija{
	display:inline-block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}